body {
    background-color: rgb(18, 18, 18);
    color: rgb(176, 176, 176);
    font-family: Arial, sans-serif;
}

h2 {
    color: rgb(216, 216, 216);
}

button {
    background-color: burlywood;
    border-radius: 4px;
    transition: 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: coral; 
}

.paper {
    margin-left: 4px;
    margin-right: 4px;
}

.round {
    margin-bottom: 6px;
    color: rgb(206, 206, 206);
}

.scores {
    margin-top: 4px;
    color: rgb(196, 196, 196);
}

.result {
    color: rgb(206, 206, 206);
}

.replay {
    margin-top: 10px;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
}